<?xml version="1.0" encoding="UTF-8"?>
<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
<ruleset name="GitHubCards">
<description>GitHub Cards code standards.</description>

<!-- By default, warnings and errors cause an exception. -->
<config name="ignore_warnings_on_exit" value="0"/>
<config name="ignore_errors_on_exit" value="0"/>

<!-- Set ignore extensions. -->
<!-- @see https://www.drupal.org/node/2867601#comment-12075633 -->
<arg name="ignore" value="*.css,*.md,*.txt,*.png,*.gif,*.jpeg,*.jpg,*.svg"/>

<arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

<arg name="basepath" value="."/>

<arg name="colors"/>
<arg name="cache" value=".phpcs-cache"/>
<arg name="parallel" value="10"/>
<arg value="p"/>

<file>.</file>

<exclude-pattern>vendor/*</exclude-pattern>

<rule ref="Drupal"/>
<rule ref="DrupalPractice"/>

</ruleset>
